<a href="#/planning/add" class="btn btn-primary btn-sm">+ Testcase</a>
<hr/>
<table class="table table-hover">
	<thead>
		<tr>
			<th>#</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Username</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>1</td>
			<td>Mark</td>
			<td>Otto</td>
			<td>@mdo</td>
		</tr>
	  <tr>
			<td>2</td>
			<td>Jacob</td>
			<td>Thornton</td>
			<td>@fat</td>
	  </tr>
	  <tr>
			<td>3</td>
			<td colspan="2">Larry the Bird</td>
			<td>@twitter</td>
	  </tr>
	</tbody>
</table>