<div class="row">
	<div class="col-md-10">
		<h4>{{headerName}}</h4>			
	</div>
	<div class="col-md-2">
		<a href="#/" class="btn btn-primary btn-sm pull-right">Back</a>
	
	</div>
</div>
<form action="" name="formHandler">
<table class="table table-hover">
	<thead>
		<tr>
			<th>Values</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="taxonomy in taxonomies" width="82%">
			<td ng-hide="taxonomy.editMode">{{taxonomy.value}}</td>
			<td ng-hide="taxonomy.editMode" align="right">
				<a class="btn btn-primary btn-sm" ng-click="edit($index, taxonomy.value)">Edit</a>
				<a class="btn btn-danger btn-sm" ng-click="delete(taxonomy.value, $index)">Delete</a>
			</td>
			<td ng-show="taxonomy.editMode">
				<input type="text" class="form-control" name="editName" id="editName" placeholder="Enter a value here" ng-model="edit.value" ng-change="ignoreSpecialCharacters(true)" required />
				<span class="error" ng-show="formHandler.editName.$error.required">Value should not be empty</span>
			</td>
			<td ng-show="taxonomy.editMode" align="right">
				<a class="btn btn-primary btn-sm" ng-click="update($index, taxonomy.value)" ng-disabled="formHandler.editName.$error.required">Save Changes</a>
				<a class="btn btn-primary btn-sm" ng-click="cancel($index)">Cancel</a>
			</td>					
		</tr>	
		<tr>			
			<td width="82%">
				<input type="text" class="form-control" name="name" id="name" placeholder="Enter a value here" ng-model="model.value" required ng-change="ignoreSpecialCharacters(false)" />
				<span class="error" ng-show="formHandler.name.$error.required">Value should not be empty</span>
			</td>
			<td align="right">
				<a ng-click="save()" class="btn btn-primary btn-sm" ng-disabled="formHandler.name.$error.required">Save</a>
				<a ng-click="clear()" class="btn btn-primary btn-sm">Clear</a>
			</td>	
		</tr>			
	</tbody>
</table>
</form>	