<form class="form-horizontal" role="form" method="POST" id="formRegister" name="workstationForm">
	<div class="row">
		<div class="col-md-9">
			<h4>Workstation Details <span class="mandatory">(<span class="asterisk">*</span> mandatory fields)</span></h4>	
		</div>
		<div class="col-md-3">
			<span class="pull-right">
				<a href="#/workstation" class="btn btn-info btn-sm">Back</a>
				<a ng-click="deleteWorkstation()" ng-hide="readonly || isCreate" class="btn btn-danger btn-sm">Delete</a>
				<a ng-click="saveWorkstation()" ng-hide="readonly" class="btn btn-success btn-sm" ng-disabled="workstationForm.$invalid">{{saveBtn}}</a>
			</span>	
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
			<label for="firstname" class="col-lg-12 control-label">Category <span class="asterisk">*</span></label>
				<div class="col-lg-12">
				  	<input ng-disabled="readonly" required type="text" class="form-control" name="category" id="category" placeholder="Category" ng-model="model.category" />
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
			<label for="firstname" class="col-lg-12 control-label">Workstation Type</label>
				<div class="col-lg-12">
				  	<input ng-disabled="readonly" type="text" class="form-control" name="name" id="name" placeholder="Workstation Type" ng-model="model.type" />
				</div>
			</div>
		</div>			
	</div>

	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
			<label for="firstname" class="col-lg-12 control-label">GE Ownership Type</label>
				<div class="col-lg-12">
				  	<input ng-disabled="readonly" type="text" class="form-control" name="name" id="name" placeholder="Ownership Type" ng-model="model.owner_type" />
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
			<label for="firstname" class="col-lg-12 control-label">Workstation hostname <span class="asterisk">*</span></label>
				<div class="col-lg-12">
				  	<input ng-disabled="readonly" required type="text" class="form-control" name="hostname" id="hostname" placeholder="Hostname" ng-model="model.hostname" />
				</div>
			</div>
		</div>			
	</div>	

	<div class="row">
		<div class="col-md-4">
			<div class="form-group">
			<label for="firstname" class="col-lg-12 control-label">Usage <span class="asterisk">*</span></label>
				<div class="col-lg-12">
				  	<input ng-disabled="readonly" required type="text" class="form-control" name="usage" id="usage" placeholder="Usage" ng-model="model.usage" />
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
			<label for="firstname" class="col-lg-12 control-label">Team / Location</label></span>
				<div class="col-lg-12">
				  	<select ng-disabled="readonly" ng-model="model.teams" name="teams" id="teams" class="form-control" ng-options="taxonomy.value as taxonomy.value for taxonomy in teams">
				  		<option value=""></option>
				  	</select>
				</div>
			</div>
		</div>		
		<div class="col-md-4">
			<div class="form-group">
			<label for="firstname" class="col-lg-12 control-label">Status <span class="asterisk">*</span></label>
				<div class="col-lg-12">
				  	<select ng-disabled="readonly" required class="form-control" ng-model="model.status" name="status">
				  		<option value="Ready">Ready</option>
				  		<option value="Work-in-Progress">Work-in-Progress</option>
				  		<option value="Obselete">Obselete</option>
				  	</select>
				</div>
			</div>
		</div>			
	</div>	

	<div class="row">
		<div class="col-md-4">
			<div class="form-group">
			<label for="firstname" class="col-lg-12 control-label">OS & Language <span class="asterisk">*</span></label>
				<div class="col-lg-12">
				  	<select ng-disabled="readonly" required name="oslang" id="oslang" class="form-control" ng-model="model.oslang" ng-options="taxonomy.value as taxonomy.value for taxonomy in oslangs">
				  		<option value=""></option>
				  	</select>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
			<label for="firstname" class="col-lg-12 control-label">Microsoft Office / Language</label>
				<div class="col-lg-12">
				  	<select ng-disabled="readonly" name="officelang" id="officelang" class="form-control" ng-model="model.officelang" ng-options="taxonomy.value as taxonomy.value for taxonomy in officelangs">
				  		<option value=""></option>
				  	</select>
				</div>
			</div>
		</div>		
		<div class="col-md-4">
			<div class="form-group">
			<label for="firstname" class="col-lg-12 control-label">PACS</label>
				<div class="col-lg-12">
				  	<select ng-disabled="readonly" name="pacs" id="pacs" class="form-control" ng-model="model.pacs" ng-options="taxonomy.value as taxonomy.value for taxonomy in pacs">
				  		<option value=""></option>
				  	</select>
				</div>
			</div>
		</div>			
	</div>	

	<div class="row">
		<div class="col-md-4">
			<div class="form-group">
			<label for="firstname" class="col-lg-12 control-label">Speechmagic</label>
				<div class="col-lg-12">
				  	<select ng-disabled="readonly" name="speechmagic" id="speechmagic" class="form-control" ng-model="model.speechmagic" ng-options="taxonomy.value as taxonomy.value for taxonomy in speechmagics">
				  		<option value=""></option>
				  	</select>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
			<label for="firstname" class="col-lg-12 control-label">DB Server <span class="asterisk">*</span></label>
				<div class="col-lg-12">
					<select ng-disabled="readonly" required name="dbserver" id="dbserver" class="form-control" ng-model="model.dbserver" ng-options="taxonomy.value as taxonomy.value for taxonomy in dbservers">
						<option value=""></option>
					</select>
				</div>
			</div>
		</div>		
		<div class="col-md-4">
			<div class="form-group">
			<label for="firstname" class="col-lg-12 control-label">RIS-i Language <span class="asterisk">*</span></label>
				<div class="col-lg-12">
				  	<select ng-disabled="readonly" required name="rislang" id="rislang" class="form-control" ng-model="model.rislang" ng-options="taxonomy.value as taxonomy.value for taxonomy in rislangs">
				  		<option value=""></option>
				  	</select>
				</div>
			</div>
		</div>			
	</div>

	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
			<label for="firstname" class="col-lg-12 control-label">Allocation <span class="asterisk">*</span></label>
				<div class="col-lg-12">
				  	<select ng-disabled="readonly" required ng-model="model.tester" name="tester" id="tester" class="form-control" ng-options="tester._id as tester.firstname + '-' + tester.initial for tester in testers">
				  		<option value=""></option>
				  	</select>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
			<label for="firstname" class="col-lg-12 control-label">Comments</label>
				<div class="col-lg-12">
				  	<input ng-disabled="readonly" type="text" class="form-control" name="name" id="name" placeholder="Comments" ng-model="model.comments" />
				</div>
			</div>
		</div>			
	</div>				
</form>