<div class="row">
	<div class="col-md-10">
		<h4>Allocation</h4>			
	</div>
	<div class="col-md-2">
		<a href="#/workstation" class="btn btn-primary btn-sm pull-right">Back</a>
	
	</div>
</div>
<hr />	
<form action="" name="testerForm">
<table class="table table-hover">
	<thead>
		<tr>
			<th>Firstname</th>
			<th>Lastname</th>
			<th>Initial</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="tester in testers">
			<td ng-hide="tester.editMode">{{tester.firstname}}</td>
			<td ng-show="tester.editMode">
				<input type="text" class="form-control" name="editFirstname" id="name" placeholder="Firstname" ng-model="edit.firstname" required />
			</td>	
			<td ng-hide="tester.editMode">{{tester.lastname}}</td>
			<td ng-show="tester.editMode">
				<input type="text" class="form-control" name="editLastname" id="name" placeholder="Firstname" ng-model="edit.lastname" required/>
			</td>			
			<td ng-hide="tester.editMode">{{tester.initial}}</td>
			<td ng-show="tester.editMode">
				<input type="text" class="form-control uppercase" name="editInitial" id="name" placeholder="Firstname" ng-model="edit.initial" ng-change="checkInitial(true)" required/>
				<span class="error" ng-show="duplicateEditInitial">Duplicate initial.</span>
			</td>			
			<td ng-hide="tester.editMode">
				<span class="pull-right">
					<a ng-click="edit($index, tester)" class="btn btn-primary btn-sm">Edit</a>
					<a class="btn btn-danger btn-sm" ng-click="deleteTester(tester._id, $index)">Delete</a>
				</span>
			</td>	
			<td ng-show="tester.editMode">
				<span class="pull-right">
					<a ng-click="update($index, tester._id)" class="btn btn-primary btn-sm" ng-disabled="testerForm.editFirstname.$error.required || testerForm.editLastname.$error.required || testerForm.editInitial.$error.required || duplicateEditInitial">Save Changes</a>
					<a ng-click="cancel($index)" class="btn btn-primary btn-sm">Cancel</a>
				</span>
			</td>				
		</tr>	
		<tr>
			<td><input type="text" class="form-control" name="firstname" id="firstname" placeholder="Firstname" ng-model="tester.firstname" required /></td>
			<td><input type="text" class="form-control" name="lastname" id="lastname" placeholder="Lastname" ng-model="tester.lastname" required /></td>
			<td><input type="text" class="form-control uppercase" name="initial" id="initial" placeholder="Initial" ng-model="tester.initial" required ng-change="checkInitial(false)"/>
				<span class="error" ng-show="duplicateInitial">Duplicate initial.</span></td>
			<td>
				<span class="pull-right">
					<a ng-click="saveTester()" class="btn btn-primary btn-sm" ng-disabled="testerForm.firstname.$error.required || testerForm.lastname.$error.required || testerForm.initial.$error.required || duplicateInitial">Save</a>
					<a ng-click="clearTester()" class="btn btn-primary btn-sm">Clear</a>
				</span>
			</td>		
		</tr>			
	</tbody>
</table>
</form>