<div class="row">
	<div class="col-md-7">
		<div class="btn-group">
			<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
			Manage <span class="caret"></span>
			</button> <span ng-show="loading"> Loading... </span>
			<ul class="dropdown-menu" role="menu">
				<li><a href="#/workstation/add">Workstation</a></li>
				<li><a href="#/workstation/tester">Allocation</a></li>
				<li><a href="#/workstation/teams">Team</a></li>
				<li><a href="#/workstation/oslang">OS & Language</a></li>
				<li><a href="#/workstation/officelang">Office & Language</a></li>
				<li><a href="#/workstation/pacs">PACS</a></li>
				<li><a href="#/workstation/speechmagic">Speechmagic</a></li>
				<li><a href="#/workstation/dbserver">DB Server</a></li>
				<li><a href="#/workstation/rislang">RIS-i Language</a></li>
			</ul>
		</div>	
	</div>
	<div class="col-md-5">
		<span class="pull-right">
			<input type="text" class="form-control" placeholder="Search Workstation" ng-model="search">
		</span>
    </div>
			
					

	</div>
</div>
<hr />

<table class="table table-hover">
	<thead>
		<tr>
			<th>Workstation</th>
			<th>Usage</th>
			<th>RIS-i Language</th>
			<th>DB Server</th>
			<th>OS & Language</th>
			<th>Allocation</th>
			<th>Category</th>
			<th>Status</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="workstation in workstations | filter:search:true | orderBy:'hostname'">
			<td>{{workstation.hostname}}</td>
			<td>{{workstation.usage}}</td>
			<td>{{workstation.rislang}}</td>
			<td>{{workstation.dbserver}}</td>			
			<td>{{workstation.oslang}}</td>			
			<td>{{workstation.tester}}</td>
			<td>{{workstation.category}}</td>
			<td>{{workstation.status}}</td>	
			<td>
				<span class="pull-right">
					<a href="#/workstation/edit/{{workstation._id}}" class="btn btn-primary btn-sm">Edit</a>
					<a href="#/workstation/details/{{workstation._id}}" class="btn btn-info btn-sm">Details</a>
				</span>
			</td>		
		</tr>	
	</tbody>
</table>