body {
  padding-top: 50px;
}

.starter-template {
  padding: 40px 15px;
}

.btn {
  border-radius: 0px!important
}

.error {
	font-size: 10px;
	color: #FF0000;
}

.uppercase {
	text-transform:uppercase;
}

.asterisk {
	color: #FF0000;
}

.mandatory{
	font-size: 12px;
}

.search {
	background-color: rgba(51, 43, 43, 0.64);
	color: #fff;
}