<!doctype html>
<html lang="en" ng-app="geApp">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<meta name="description" content="">
		<meta name="author" content="">
		<title>Planning</title>

		<!-- Bootstrap core CSS -->
		<link href="css/bootstrap.min.css" rel="stylesheet">

		<link href="css/style.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="../../assets/js/html5shiv.js"></script>
			<script src="../../assets/js/respond.min.js"></script>
		<![endif]-->
	</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
<!-- 				<span class="navbar-brand"></span> -->
			</div>
			<div id="navigation" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="dropdown">
						<a href="/" class="active">Workstation Planning</a>					
					</li>
					<!-- <li><a href="#/testcase">Testcase Progress</a></li> -->
				</ul>
			</div>
		</div>
	</div>

	<div class="container">
			<div class="starter-template">
				<div ng-view=""></div>
			</div>
	</div>

	<script type="text/javascript" src="/js/underscore-min.js"></script>
	<script type="text/javascript" src="/js/angular.min.js"></script>
	<script type="text/javascript" src="/js/ui-bootstrap-0.6.0-SNAPSHOT.js"></script>						
	<script type="text/javascript" src="/js/ui-bootstrap-tpls-0.6.0-SNAPSHOT.js"></script>				
	<script type="text/javascript" src="/js/jquery.js"></script>
	<script type="text/javascript" src="/js/bootstrap.js"></script>
	<script type="text/javascript" src="/js/app.js"></script>
	<script type="text/javascript" src="/js/controllers.js"></script>
	<script type="text/javascript" src="/js/factories.js"></script>

</body>
</html>
